In [1]:
#my libiraries
import numpy as np
import pandas as pd

In [4]:
#importing the datafile
myfile=pd.read_csv("Desktop/insurance.csv")

#show a head of data
myfile.head(10)

#access null data if there are
myfile.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [5]:
#convert catigorical data to numirecal
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
myfile.iloc[:,1]=le.fit_transform(myfile.iloc[:,1])
myfile.iloc[:,4]=le.fit_transform(myfile.iloc[:,4])
myfile.iloc[:,5]=le.fit_transform(myfile.iloc[:,5])
myfile.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [6]:
#divide my data to input and output
X=myfile.iloc[:,:-1].values
Y=myfile.iloc[:,-1].values

In [7]:
#split data to trainig and testing data
from sklearn.model_selection import train_test_split
X_train , X_test,Y_train , Y_test=train_test_split(X , Y , test_size=.1 , random_state=0)

In [8]:
#feature scaling
from sklearn.preprocessing import StandardScaler
Sclr=StandardScaler()
X_train=Sclr.fit_transform(X_train)
X_test=Sclr.transform(X_test)

In [9]:
#using linear regression
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train , Y_train)

LinearRegression()

In [10]:
#predict my train and test results
Y_train_re=regressor.predict(X_train)
Y_test_re=regressor.predict(X_test)

In [11]:
#get the accuracy of mproject
from sklearn import metrics
score_training=metrics.r2_score(Y_train,Y_train_re)
print("accuracy in training = ", score_training)
score_testing=metrics.r2_score(Y_test,Y_test_re)
print("accuracy in testing = ", score_testing)

accuracy in training =  0.7383916953773163
accuracy in testing =  0.8215430369031268